<%# Admin panel: allows for creation/deletion of nodes and creation announcements %>
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <%- include('../../partials/head') %>
</head>

<body class="bg-gray-50 min-h-screen flex flex-col" style="font-family: 'Inter', sans-serif;">
  <%- include('../../partials/admin/header') %>
  <main class="flex flex-1 pt-6 pb-6 justify-center">
    <%# Dashboard %>
    <section class="max-w-7xl w-full px-2 sm:px-6">
        <%- include('../../partials/admin/panels') %>
        <%- include('../../partials/admin/user-messages') %>
    </section>
  </main>
  <div class="flex justify-center w-full px-2 sm:px-6">
    <hr class="max-w-7xl w-full border-0 h-px bg-gray-300">
  </div>
  <%- include('../../partials/footer') %>
</body>

</html>