<%# Shared <footer> with copyright and emailing link %>
<footer class="flex mt-6 mb-6 mx-2 justify-center">
  <div class="flex flex-col gap-4 max-w-7xl w-full sm:px-6 justify-center items-center">
    <p class="text-blue-500">
      <b>Help & Support:</b> <a href="mailto:<%= footer.email %>" class="underline underline-offset-2 hover:text-blue-800"><%= footer.email %></a>
    </p>
    <p class="italic text-blue-500">
      &copy; <%= footer.year %> <%= footer.emailText %>. <%= footer.text %>
    </p>
  </div>
</footer>